.container {
  padding: 0 2rem;
  background-image:linear-gradient(#37383a,#2a2323 );
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.chessBoard {
  height: 600px;
  width: 600px;
  background-color: red;
  /*Consider using linear-gradient as a background-image if chessSquare turns out too slow*/
  top: 100px;
  left: 100px;
  display:grid;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(8, 75px);
}

.chessSquare {
  height: 100%;
  width: 100%;
}

.squareColor0 {
  background-color: #dee3e6;
}
.squareColor1 {

  background-color: #8ca2ad;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}






@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
